body {
  width: 100vw;
  width: 100dvw;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.tippy-box {
  background-color: var(--bg-3);
}
.tippy-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

nav {
  display: flex;
  gap: 10px;
  align-items: center;
  height: 8vh;
  height: 8dvh;
  background-color: var(--bg-2);
}
nav img {
  width: 6vh;
  width: 6dvh;
  height: 6vh;
  height: 6dvh;
}

main {
  display: flex;
  flex-direction: row;
  height: 92vh;
  height: 92dvh;
}
main div {
  height: 92vh;
  height: 92dvh;
}
.gutter {
  background-color: var(--bg-2);
  background-repeat: no-repeat;
  background-position: 50%;
}
.gutter.gutter-horizontal {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
  cursor: col-resize;
}

.side {
  background-color: var(--bg-2);
}
